.guess_form {
  padding: 2em;
}
.guess_form input, .guess_form button {
  border-radius: 0.25rem;
  border: 1px solid #1F253D;
  box-sizing: border-box;
  display: block;
  font-size: 2em;
  margin: 0 0 1em;
  width: 100%;
  text-align: center;
}

.guess_form input {
  background-color: #50597b;
  color: #fff;
}

.guess_form button {
  background-color: #1F253D;
  color: #95a5a6;
}

.guess_form__guess_number {
  font-size: 2em;
  margin: 0;
}

.guess_form__guess_number span {
  color: #f39c12;
  font-size: 1.5em;
  font-weight: bold;
}