.GuessLog {
  background-color: aqua;
  padding: .5em;
}

.GuessLog ul {
  list-style: none;
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.GuessLog ul li {
  padding: .1em;
  margin: .1em;
  background: green;
}

