.GuessLog {
  background-color: #2AA8AB;;
  padding: .5em;
}

.GuessLog ul {
  list-style: none;
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.GuessLog ul li {
  border-radius: 0.25em;
  font-weight: bold;
  padding: 0.25em;
  margin: 0.25em;
  background: #1A4E95
}

